

.main img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.main h1{
    position: fixed;
    margin-left: 600px;
    margin-top: 400px;
    color: black;
    font-size: 30px;
    
}

/* Respsonsive Styling */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .jumbotron h1{
        font-size: 24px;
}
    
    .jumbotron p{
        font size: 16px;
        padding: 0px;
}
            

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) { 
    .jumbotron h1{
        font-size: 44px;
}
        
    .jumbotron p {
        padding: 0 10px;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {
    .jumbotron h1 {
        font-size: 56px;
        margin-bottom: 30px;
    }