
.main img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.main h1{
    position: absolute;
    font-size: 30px;
    color: black;
    margin-left: 615px;
    margin-top: 370px;
    
}


/* Respsonsive Styling */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .main h1{
        font-size: 40px;
        margin-left: 50px;
        margin-top: 250px;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) { 
    .main h1{
        font-size: 40px;
        margin-left: 430px;
        margin-top: 400px;
}
        
    
/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {
    .main h1 {
        font-size: 40px;
        margin-left: 520px;
        margin-top: 400px;
        
}
    
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main h1{
        font-size: 40px;
        margin-left: 900px;
        margin-top: 400px;
}
    









    


	


